NODE_ENV="development"

APP_NAME="FiapXNotifications"
APP_DESCRIPTION="Notifications Component for Fiap X"
APP_VERSION="1.0.0"

PORT="4000"
LOG_LEVEL="debug"
LOG_FORMAT="pretty" # pretty | json

TRAFFIC_INSPECTION_HTTP="all" # inbound|outbound|all|none
TRAFFIC_INSPECTION_AMQP="all" # inbound|outbound|all|none 

ROUTE_PREFIX=""

MONGO_URL="mongodb://fiapx:fiapx@localhost:27017/FiapXNotifications?authSource=admin"

AMQP_URL="amqp://fiapx:fiapx@localhost:5672"

PROVIDER_MAILER_SEND_API_KEY=""
PROVIDER_MAILER_SEND_DOMAIN=""